@model LeaveTypeVM

@{
    ViewData["Title"] = "Details";
}

<h1>Détails du type de congés "@Model.Name"</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-dark">Retour à la liste</a>&nbsp;
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Modifier</a>
</div>
